<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    
</head>
<body>
    <div class="login-container">
        <h2>Login Form</h2>
        <form>
            帳號：<input type="text" name="username" placeholder="Username" required>
            密碼：<input type="password" name="password" placeholder="Password" required>
            <button type="submit">登入</button>
        </form>
    </div>
</body>
</html>